/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: rgb(183, 201, 216);
}

/* Inizio header */
header{
    background-color: rgb(221, 235, 221);
}

.logo{
    height: 150px;
    width: 100%;
    padding-left: 100px;
    padding-top: 30px;
}

#img{
    height: 80px;
    width: auto;
    line-height: 80px;
    vertical-align: middle;
}

.logo p{
    display: inline-block;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    vertical-align: middle;
}

.bottoni{
    height: 100px;
    padding-top: 25px;
    padding-left: 10%;
    border-bottom: solid rgb(183, 201, 216) 4px;
}

#b1{
    background-color: rgba(71,173,241,255);
    width: 120px;
    height: 40px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

#b2{
    background-color: white;
    width: 130px;
    height: 40px;
    border-radius: 8px;
    color: rgb(196, 171, 171);
    font-weight: 600;
    font-size: 18px;
}

/* Inizio main */
main{
    width: 60%;
    height: 1200px;
    margin-left: 15%;
    margin-top: 50px;
    background-color: rgb(221, 235, 221);
}

section{
    padding-left: 10%;
}
                                         
section h1{
    padding-top: 50px;
    padding-bottom: 10px;
}

section p{
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Compiti da svolgere */
.task{
    color: white;
    display: inline-block;
    width: 120px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

/* Colori labels */
.edit{
    background-color: rgb(69,171,234);
}

.q1{
    background-color: rgba(156,114,228,255);
}

.recr{
    background-color: rgba(100,192,169,255);
}

.mobile{
    background-color: rgba(242,158,51,255);
}

.web{
    background-color: rgba(216,99,161,255);
}

.sale{
    background-color: rgba(176,201,38,255);
}

.round{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.ok{
    color: green;
    border: 2px solid green;
}

.no{
    color: red;
    border: 2px solid red;
}
/* Fine main */

footer{
    padding-left: 10%;
}